<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/layout.html::fragment-header">
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="../../static/js/common.js"></script>
</head>
<body>
	<div class="container">
        <h2>게시글 등록</h2>
        <form id="boardWriter" name="boardWriter" method="post" action="/board/user/insertBoard">
            <table class="board_detail">
                <tr>
                    <td>제목</td>
                    <td><input type="text" id="title" name="title"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="contents" name="contents"></textarea>
                    </td>
                </tr>
            </table>
            <input type="submit" id="submit" value="저장" class="btn">
        </form>
    </div>
</body>
</html>