<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/layout.html::fragment-header">
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../static/js/common.js"></script>
</head>
<body>
    <div class="container">
        <h2>사용자 게시판</h2>
        <table class="board_list">
            <caption>사용자 게시글 목록</caption>
            <thead>
                <tr>
                    <th scope="col">글번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">조회수</th>
                    <th scope="col">작성일</th>
                    <th scope="col">작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.size(boardList)} > 0" th:each="list : ${boardList}">
                    <td th:text="${list.id}">1</td>
                    <td class="title">
                        <a href="/board/user/board?id=" 
                            th:attrappend="href=${list.id}" 
                            th:text="${list.title}">제목</a>
                    </td>
                    <td th:text="${list.views}">23</td>
                    <td th:text="${#temporals.format(list.createTime, 'yyyy-MM-dd HH:mm:ss')}">2021-12-01 15:30:00</td>
                    <td th:text="${list.createId}">c.p.0</td>
                </tr> 
                <tr th:unless="${#lists.size(boardList)} > 0">
                    <td colspan="5">조회된 결과가 없습니다.</td>
                </tr>
            </tbody>
        </table>
        <a href="/board/user/board-writer" class="btn">글 쓰기</a>
    </div>
</body>
</html>